<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion des Projets{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Gestion des Projets</h1>
        <nav>
            <a href="{% url 'projet_list' %}">Tous les Projets</a>
            <a href="{% url 'projet_create' %}">Nouveau Projet</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
