{% extends "gestion_projets/base.html" %}

{% block title %}Détails du Projet{% endblock %}

{% block content %}
<h2>{{ projet.nom }}</h2>
<p>{{ projet.description }}</p>
<p>Date de début : {{ projet.date_debut }}</p>
<p>Date de fin : {{ projet.date_fin|default:"Non spécifiée" }}</p>
<p>Statut : {{ projet.statut }}</p>

<h3>Tâches</h3>
<ul>
    {% for tache in taches %}
        <li>{{ tache.titre }} - {{ tache.statut }}</li>
    {% empty %}
        <li>Aucune tâche pour ce projet.</li>
    {% endfor %}
</ul>

<a href="{% url 'tache_create' projet.id %}">Ajouter une tâche</a>
<a href="{% url 'projet_edit' projet.id %}">Modifier le projet</a>

<!-- Affichage des KPIs -->
<h3>KPIs du Projet</h3>
<ul>
    {% for kpi in projet.kpis.all %}
        <li>
            <strong>{{ kpi.nom }} :</strong> {{ kpi.valeur }} ({{ kpi.date }})
            
        </li>
    {% empty %}
        <li>Aucun KPI pour ce projet.</li>
    {% endfor %}
</ul>

<!-- Ajouter un KPI -->
<a href="{% url 'kpi_create' projet.id %}">Ajouter un KPI</a>
{% endblock %}
