<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des projets</title>
</head>
<body>
    <h1>Liste des projets</h1>

 

    <ul>
        {% for projet in projets %}
            <li>
                <a href="{% url 'projet_detail' projet.id %}">{{ projet.nom }}</a> - {{ projet.statut }}
            </li>
        {% empty %}
            <li>Aucun projet trouvé.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'projet_create' %}">Créer un nouveau projet</a>
</body>
</html>
