< ! --Le fichier base.html sert de modèle de base pour la mise en page de votre site. Tous les autres templates l'extendront pour éviter la répétition de code. -- >

{% extends "gestion_projets/base.html" %}

{% block title %}Formulaire de Tâche{% endblock %}

{% block content %}
<h2>{% if form.instance.id %}Modifier{% else %}Créer{% endif %} une Tâche</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer</button>
</form>
<a href="{% url 'projet_list' %}">Annuler</a>
{% endblock %}
